In [32]:
import pandas as pd

## Función Edad ##

In [33]:
from datetime import datetime
from datetime import date

In [34]:
def EdadActual(Fnacimiento):
    Factual = date.today()
    Edad = Factual.year-Fnacimiento.year
    Edad -= (Factual.month,Factual.day) < (Fnacimiento.month, Fnacimiento.day)
    return Edad

In [47]:
Fnacimiento = date(1990, 9, 4)
EdadActual(Fnacimiento)

32

In [44]:
datos = pd.read_table("athletes.csv",delimiter=",",header=0,
                      usecols=[0,3],parse_dates=["birth_date"])

In [45]:
datos.info()
print(datos)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2897 entries, 0 to 2896
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        2897 non-null   object
 1   birth_date  2885 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 45.4+ KB
                   name birth_date
0        AAGAARD Mikkel 1995-10-18
1           AALTO Antti 1995-04-02
2         AALTONEN Miro 1993-06-07
3     ABDELKADER Justin 1987-02-25
4            ABDI Fayik 1997-10-07
...                 ...        ...
2892       ZUREK Damian 1999-09-17
2893      ZUYEVA Maryna 1992-03-20
2894        ZUZIN Peter 1990-09-04
2895     ZVEJNIEKS Miks 1995-03-08
2896         ZYLA Piotr 1987-01-16

[2897 rows x 2 columns]

In [46]:
datos["age"] = datos["birth_date"].apply(EdadActual)
print(datos)

                   name birth_date   age
0        AAGAARD Mikkel 1995-10-18  27.0
1           AALTO Antti 1995-04-02  27.0
2         AALTONEN Miro 1993-06-07  29.0
3     ABDELKADER Justin 1987-02-25  35.0
4            ABDI Fayik 1997-10-07  25.0
...                 ...        ...   ...
2892       ZUREK Damian 1999-09-17  23.0
2893      ZUYEVA Maryna 1992-03-20  30.0
2894        ZUZIN Peter 1990-09-04  32.0
2895     ZVEJNIEKS Miks 1995-03-08  27.0
2896         ZYLA Piotr 1987-01-16  36.0

[2897 rows x 3 columns]

## Función EscribirCentrado ##

In [16]:
texto = input("ingrese una cadena de texto: ")
texto.center(80)

ingrese una cadena de texto:  esto es un texto

'                                esto es un texto                                '

## Función multiplo ##

In [110]:
def multiplo(a,b):
    valor = (a % b == 0)|(b % a == 0)
    if valor == False:
        print("ninguno de los dos números es múltiplo de otro")
    else:
        if a % b == 0:
            print(str(a) + " es multiplo de " + str(b))
        if b % a == 0:
            print(str(b) + " es multiplo de " + str(a))

In [111]:
a = input("Ingrese el primer número entero: ")
b = input("Ingrese el segundo número entero: ")
a2 = int(a)
b2 = int(b)
multiplo(a2,b2)

Ingrese el primer número entero:  12
Ingrese el segundo número entero:  6

12 es multiplo de 6

## Media de temperaturas ##

In [127]:
def tempMedia(temp):
    a = sum(temp)/len(temp)
    print("la temperatura media es " + str(a) + " grados centigrados")

In [142]:
import random 

lista = [0]  * 24
for i in range(24):
    lista[i] = random.randint(5, 25)

temperatura=lista
tempMedia(temperatura)

la temperatura media es 16.791666666666668 grados centigrados

## Función ConvertirEspaciado ##

In [153]:
def ConvertirEspaciado(text):
    text2 = " ".join(text)
    print(text2)

In [156]:
text = input("por favor ingrese el texto a separar: ")
ConvertirEspaciado(text)

por favor ingrese el texto a separar:  Hola mundo!

H o l a   m u n d o !

## Función calcularMaxMin ##

In [163]:
def listaAleatorios(n):
      lista = [0]  * n
      for i in range(n):
          lista[i] = random.randint(0, 1000)
      return lista

print("Ingrese cuantos numeros aleatorios desea obtener")
n=int(input())

aleatorios=listaAleatorios(n)
print(aleatorios)

Ingrese cuantos numeros aleatorios desea obtener

 20

[292, 360, 966, 631, 312, 33, 73, 57, 483, 690, 690, 106, 725, 754, 363, 667, 928, 615, 521, 97]

In [165]:
def mayor(lista):
    max = lista[0];
    for x in lista:
        if x > max:
            max = x
    return max    
 
def menor(lista):
    min = lista[0];
    for x in lista:
        if x < min:
            min = x
    return min
 
def main(lista):
    print ("La lista es ", lista)
    print ("El número mayor es ", mayor(lista))
    print ("El número menor es ", menor(lista))
 
main(aleatorios)

La lista es  [292, 360, 966, 631, 312, 33, 73, 57, 483, 690, 690, 106, 725, 754, 363, 667, 928, 615, 521, 97]
El número mayor es  966
El número menor es  33

## Área y perimetro de una circunferencia ##

In [160]:
import numpy as np
pi = np.pi
def circunferencia(r):
    A = pi *r*r
    P = 2*pi*r
    print("El área de la circunferencia es " + str(A))
    print("El perimetro de la circunferencia es " + str(P))

In [152]:
r = input("Por favor ingrese el radio de su circunferencia ")
r2 = float(r)
circunferencia(r2)

Por favor ingrese el radio de su circunferencia  4

El área de la circunferencia es 50.26548245743669
El perimetro de la circunferencia es 25.132741228718345

## Función Login ##

In [181]:
def login():
    n = 0
    usuario = input("por favor ingrese su usario: ")
    clave = input("por favor ingrese su contraseña: ")
    login = (usuario == "usuario1")&(clave == "asdasd")
    while login == False:
        n = n+1
        print("Usuario o contraseña son incorrectos, intentelo nuevamente")
        print("lleva " + str(n)+ " fallidos")
        usuario = input("por favor ingrese su usario: ")
        clave = input("por favor ingrese su contraseña: ")
        login = (usuario == "usuario1")&(clave == "asdasd")
    else:
        print("usuario y contraseña son correctos")

In [ ]:
login()

## Función Factorial ##

In [2]:
def factorial(n):
   if n==0 or n==1:
            resultado=1
   elif n>1:
            resultado=n*factorial(n-1)
   return resultado

In [3]:
factorial(8)

40320

## Función tiempo ##

In [7]:
def segundos_a_segundos_minutos_y_horas():
    seg = input("ingrese la cantidad de segundos ")
    segundos = int(seg)
    horas = int(segundos / 60 / 60)
    segundos -= horas*60*60
    minutos = int(segundos/60)
    segundos -= minutos*60
    return f"{horas:02d}:{minutos:02d}:{segundos:02d}"

In [10]:
segundos_a_segundos_minutos_y_horas()

ingrese la cantidad de segundos  13800

'03:50:00'

## Función invertir tuplas ##

In [10]:
tup2 = (1,"John", True, -23.1)
tup3 = (1,2,3)

In [7]:
def invtupla(tupla):
    tupla2 = tupla[::-1]
    print(tupla2)

In [11]:
invtupla(tup2)
invtupla(tup3)

(-23.1, True, 'John', 1)
(3, 2, 1)

## Función media geometrica ##

In [22]:
import functools
import operator

In [25]:
def mediageom(lista):
    n = len(lista)
    x = functools.reduce(lambda a, b: a*b, lista)
    tot = pow(x,1/n)
    return tot

In [27]:
lista = (1,2,3,4,5)
mediageom(lista)

2.605171084697352